XERO_CLIENT_ID=
XERO_CLIENT_SECRET=

GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=

MAILBOX_USER=
EMPLOYER_EMAIL=
EXTRA_REPORT_RECIPIENTS=

CONTRACTOR_NAME=
CONTRACTOR_ADDRESS=
CONTRACTOR_EMPLOYERS_REFERENCE=
CONTRACTOR_TAXPAYER_REFERENCE=

CIS_ACCOUNT_CODE=1000
REQUIRE_REFERENCE_CONTAINS=
